h1 {
  font-size: 26px;
  text-align: center;
  color: white;
  background-color: #525c91;
}

/* 四塊標題 */
h2 {
  font-size: 18px;
  color: white;
}
h2 span {
  background-color: #525c91;
}

/* 線 */
.section {
  border-bottom: 2px solid #525c91;
}

/* 按鈕共通set */
button {
  font-size: 14px;
  border: 1px solid #999;
}

/* blue-button */
.btn-blue {
  background-color: #2c3e50;
  color: white;
}

/* red-button */
.btn-red {
  background-color: #c0392b;
  color: white;
}

.required {
  color: red;
}
